modules = ["nodejs-20", "go-1.24"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["buf"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Block Explorer"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Block Explorer"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd dexplorer && npm run dev"
waitForPort = 3001

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm start"
waitForPort = 3002

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3001
externalPort = 8081

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 33189
externalPort = 3000

[[ports]]
localPort = 33535
externalPort = 3001

[[ports]]
localPort = 34945
externalPort = 5000

[[ports]]
localPort = 35689
externalPort = 6000

[[ports]]
localPort = 36139
externalPort = 8080

[[ports]]
localPort = 36799
externalPort = 5173

[[ports]]
localPort = 39419
externalPort = 3003

[[ports]]
localPort = 41495
externalPort = 9000

[[ports]]
localPort = 42419
externalPort = 8099

[[ports]]
localPort = 42461
externalPort = 8000

[[ports]]
localPort = 44863
externalPort = 8008

[[ports]]
localPort = 45367
externalPort = 4200

[[ports]]
localPort = 46421
externalPort = 6800

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "cd frontend && npm run preview -- --host 0.0.0.0 --port 5000"]
build = ["npm", "install", "--prefix", "frontend"]
